html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenaire {
  max-width: 1440px;
  margin: 0 auto; 
   
  
}
.deux {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  background-color:pink;
  padding: 10px;
  border: solid;
}
.presentation {
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
  width: 50%;
  text-align: center;
}
.presentation p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"Merriweather", serif ;
}
.type {
  display:inline-flex;
}
.type span {
  word-break: break-all;
  height: 1.2em;
  width:0%;
  overflow: hidden;
  animation:t 2s linear infinite alternate;
}
.type span:before {
  content:" ";
  display:inline-block;
}
@keyframes t{
  90%,100% {width:100%}
}
.presentation p img {
  width: 100px;
}
.fleche {
  position: fixed;
  right: 20px;
  bottom: 100px;
}
/* .cv:hover{
  background-color: black;
  color: blue;
} */
.barre {
  position: fixed;
  bottom: 30px;
  left: 50%;
  text-align: center;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  /* width: 90%; */
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(2px);
  transition: 4s;
  transform: translate(-50%, -10%);

}
 .barre a:hover{
   padding: 1rem 2.25rem; 
} 
.barre a {
  margin: 20px;
}
.img {
  display: flex;
}
.link {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.font {
  border: solid;
  border-radius: 50px 50px 0px 0px;
  width: 250px;
  height: 249px;
  display: flex;
  margin: 68px auto 0 auto;
  background-color: beige;
} 
.propo {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border-radius: 30px; /* Augmente le rayon de la bordure pour rendre le bouton plus rond */
  padding: 10px 20px; /* Ajuste le rembourrage pour que le texte soit centré dans le bouton */
  font-size: 16px; /* Ajuste la taille du texte du bouton */
  background-color: #3498db; /* Couleur de fond du bouton */
  color:pink; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure du bouton */
}
.cv button {
  margin: 10px;
} 
.cv button:hover {
  background-color: blue;
  color: white;
}
.moi button:hover {
  background-color: green;
  color: white;
}
.ink img{
  width: 50px;
}
.git img{
  width: 50px;
}
.trait{
  width: 2px;
  height: 50px;
 border: solid;
 margin-left: 20px;
}
.contenaire a img{
  width: 50px;
}
.git, .ink, .traits {
  display: grid;
  justify-content: left;
}
.pres{
 text-align: center;
 background-color: rgb(228, 227, 230);
}
.pres p{
display: block;
font-size: 1.5em;
}
.pres h1{
  display: block;
 font-size: 3em;
  margin-top: 0,5em;
}
.létrois{
  display: flex;
  justify-content:end;
  margin: 80px;
}
.létrois .creatif{
  border: solid;
  width: 150px;
  height: 150px;
  padding: 20px;
  margin: 20px;
}
.létrois .capacité{
  border: solid;
  width: 150px;
  height: 150px;
  padding: 20px;
  margin: 20px;
}
.létrois .autonom{
  border: solid;
  width: 150px;
  height: 150px;
  padding: 20px;
  margin: 20px;
}
.text p{
  margin-bottom: 10px;
  width: 50%;
}
.compe p h1{
  display: block;
  font-size: 1.5em;
}
.dev{
  width: 400px;
  height: 400px;
  border: solid;
  border-radius: 10px;
} 
.design{
  width: 400px;
  height: 400px;
  border: solid;
  border-radius: 20px;
}
.para {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 20px;
}

.para p, .para h1 {
  text-align: center;
}
.compe {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  flex-wrap: wrap;
}

.dev, .design {
  margin-top: auto;
  text-align: center;
}
.design h3 h5{
  padding: 30px;
}
.design img{
  padding: 30px;
}
.dev h3 {
  padding: 30px;
}
.dev img{
  padding: 30px;
}
.parcour{
  width:100%;
  height: 100vh;
}

